@import "compass";
@import "partials/settings";
@import "foundation/scss/normalize";
@import "foundation/scss/foundation";
@import "font-awesome/scss/font-awesome";

body {
    background: image-url('background.jpg') no-repeat center center fixed;
    @include background-size(cover);

    &:after {
        background: rgba(#252525, .7);
        content: " ";
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }
}

.container {
    position: relative;
    z-index: 1;
}

.off-canvas-wrap, .inner-wrap {
    min-height: 100%;
}
    .off-canvas-wrap {  
        height: 100%;
        overflow-y: auto;
    }

    .menu-logo {
        max-height: 100%;
        vertical-align: top;
    }

.hero {
    padding: 10% 0;
    text-transform: uppercase;
}
    .hero-title {
        color: #FFF;
        font-size: em-calc(60);
        font-weight: 800;
        text-shadow: 0 1px 5px rgba(#000, .35);
    }
    .hero-subtitle {
        color: #FFF;
        font-size: em-calc(24);
        font-weight: bold;
    }
    .hero-action {
        background: rgba(#fdbe2b, .75);
        font-weight: bold;
        margin-top: 2rem;

        &:hover, &:focus {
            background: rgba(#fdbe2b, .9);
        }
    }

.contributors {
    background: #FFF;
    text-align: center;
    max-width: 100%;
}
    .contributors-title {
        color: #2c3e50;
        font-size: rem-calc(14);
        font-weight: bold;
        line-height: rem-calc(100);
        margin: 0;
        text-transform: uppercase;
    }
    .contributors-list {
        height: 100px;
        > li {
            padding-bottom: 0;
        }
        img {
            max-height: 100%;
            vertical-align: top;
        }
    }

.multilevel {
    &.active > a {
        background: darken(#242424, 5%) !important;
    }
    .content li > a {
        background: lighten(#242424, 10%);
        border: none;

        &:hover, &:focus {
            background: #1abc9c;
        }
    }
}

.twitter {
    background: $primary-color;
    color: #FFF;
    padding: rem-calc(30) 0;

    .fa-twitter {
        font-size: rem-calc(50);
        margin-bottom: rem-calc(15);
    }
}
    .twitter-posted {
        color: #FFF;
        font-size: rem-calc(12);
        font-weight: 300;
        text-transform: uppercase;
    }
    .twitter-tweet {
        color: #FFF;
        margin: rem-calc(15) auto;
    }
    .twitter-follow {
        border: 2px solid #FFF;
        font-weight: 300;
        margin: rem-calc(15) auto 0;
    }